EXPO_PUBLIC_SUPABASE_URL="https://foqofurpgsawkcivnjpl.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvcW9mdXJwZ3Nhd2tjaXZuanBsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NjczOTMsImV4cCI6MjA5MjQ0MzM5M30.5L20fmf7SZppuJCDRKs3uDdn2ldT7vnv7VzAeA3eVAU"
