PORT=3333
SUPABASE_URL="https://foqofurpgsawkcivnjpl.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvcW9mdXJwZ3Nhd2tjaXZuanBsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg2NzM5MywiZXhwIjoyMDkyNDQzMzkzfQ.cqEpIgjLbECkTO5wXFGOATgFpp2c5bLnUP9SlXmkQPg"
ABACATEPAY_API_KEY="abc_dev_z3jmJE6fXWJJRBDKGYdgdGfm"
ABACATEPAY_WEBHOOK_SECRET=YOUR_ABACATEPAY_WEBHOOK_SECRET
